version: "3.7"

services:
  n8n:
    # Usa a imagem oficial do n8n.
    image: docker.n8n.io/n8nio/n8n

    # Nome do container para fácil referência
    container_name: n8n-agent-dev

    # Reinicia automaticamente, a menos que seja parado manualmente
    restart: unless-stopped

    # Mapeamento de portas: Host:Container. A porta 5678 é a padrão do n8n.
    ports:
      - "5678:5678"

    # Carrega as variáveis de ambiente do arquivo .env
    env_file:
      - .env

    # Define a porta dentro do container
    environment:
      - N8N_PORT=5678

    # Mapeamento de Volumes para persistência de dados.
    # O volume 'n8n_data' garante que seus fluxos, logs e credenciais não sejam perdidos
    # quando o container for reiniciado ou recriado.
    volumes:
      - n8n_data:/home/node/.n8n

      # (Opcional, mas útil para o Code Node)
      # Mapeia uma pasta local 'local_files' para ser acessível dentro do n8n
      - ./local_files:/files

    networks:
      - automacao # <-- conecta o n8n na rede compartilhada

  waha:
    # Usa a imagem oficial do WAHA.
    image: devlikeapro/waha:latest

    # nome do container para fácil referência
    container_name: waha-api

    # restart automático
    restart: unless-stopped

    # Mapeamento de portas: Host:Container. A porta 3000 é a padrão do WAHA.
    ports:
      - "3000:3000"

    environment:
      - WAHA_API_KEY=${WAHA_API_KEY}

    # Mapeamento de Volume para persistência de dados do WAHA.
    volumes:
      - waha_data:/data

    # Conexão com a rede compartilhada
    networks:
      - automacao

# Redes compartilhadas entre os containers
networks:
  automacao:
    driver: bridge

# Definição do Volume.
# Usar um volume nomeado (n8n_data) é preferível a um bind mount para dados críticos do n8n,
# pois melhora a performance e evita problemas de permissão.
volumes:
  n8n_data:
  waha_data:
